{% from "_formhelpers.html" import render_error %}
{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='content/loginstyle.css') }}">
{% endblock %}
{% block content %}
<!-- LOGIN FORM -->
<form class="login-form" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h1>Reset Password</h1>
    <div class="input-field">
        {{ form.password(size=32, placeholder='New Password') }}
        {{ render_error(form.password) }}
    </div>
    <div class="input-field">
        {{ form.password2(size=32, placeholder='Confirm Password') }}
        {{ render_error(form.password2) }}
    </div>
    {{ form.submit(class_="login-btn") }}
</form>
{% endblock %}