{% from "_formhelpers.html" import render_error %}
{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='content/loginstyle.css') }}">
{% endblock %}
{% block content %}
<form class="login-form" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h1>Update Email</h1>
    <div class="input-field">
        {{ form.email(size=32, placeholder='New Email') }}
        {{ render_error(form.email) }}
    </div>
    <div class="input-field">
        {{ form.email2(size=32, placeholder='Confirm Email') }}
        {{ render_error(form.email2) }}
    </div>
    {{ form.submit(class_="login-btn") }}
</form>
{% endblock %}