{% from "_formhelpers.html" import render_error %}
{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='content/loginstyle.css') }}">
{% endblock %}
{% block content %}
<!-- LOGIN FORM -->
<form class="login-form" action="" method="post">
    {{ form.hidden_tag() }}
    {% block reset_text %}
    <h1>Reset Password</h1>
    {% endblock %}
    <div class="input-field">
        {{ form.email(size=32, placeholder="Email") }}
        {{ render_error(form.email) }}
    </div>
    {{ form.submit(class_="login-btn") }}
    {% block bottom_text %}
    <div class="bottom-text">
        <p>Don't have an account? <a href="{{ url_for('auth.reg') }}">Create one here!</a></p>
    </div>
    {% endblock %}
</form>
{% endblock %}