# dotfiles
.*
!.gitignore
!.travis.yml

*~

# Python
__pycache__/
*.py[cod]

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.ncb

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# venv
env/
venv/

# temp db
*.db-journal