{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static',filename='content/errorstyle.css') }}">
{% endblock %}
{% block content %}
<div class="error">
    <div class="error-num">
        <h1><span>O</span>Oops<span class="dot">.</span><span class="dot1">.</span><span class="dot2">.</span></h1>
        <h2>Error 404</h2>
        <p>The page you are looking for isn't here.</p>
    </div>

    <ul class="animation-area">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
{% endblock %}
