{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='content/createstyle.css')}}">
{% endblock %}
{% block content %}
<div class="bg-modal">
    <div class="modal-contents quiz-size">
        <h1>Quiz was successfully created!</h1>
        <a href="{{ url_for('quiz.preview_quiz', quizID=quizID) }}" class="route-btn">Preview Quiz</a>
        <!--<a href="#" class="route-btn">Assign Quiz To Class</a>-->
        <a href="{{ url_for('main.dashboard') }}" class="route-btn">Home</a>
    </div>
</div>
{% endblock %}