{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='content/quizstyle.css') }}">
{% endblock %}
{% block content %}
<div class="quiz-container">
    <div id="quiz" class="justify-center flex-column">
        {% if edu %}
        <h1>{{ quiz.name }}</h1>
        {% else %}
        <h1>TAILORED QUIZ</h1>
        {% endif %}
        <h2 id="question">{{question}}</h2>

        {% if question.image_file %}
        <img src="{{ url_for('static, filename='resources/images/quiz')}}/{{ question.image_file }}" class="pic" alt="">
        {% endif %}

        {% if edu %}
        <form action="{{ url_for('quiz.edu_quiz', quizID=quiz.id, qnNum=qnNum) }}" method="post">
        {% else %}
        <form action="{{ url_for('quiz.quiz', attempt=attempt) }}" method="post">
        {% endif %}
            <ol>
                {% for o in options %}
                <li class="options-container" id="options-container">
                    <p class="options-prefix">{{loop.index}}</p>
                    <label>
                        <input type="radio" class="options" name="option" id="{{o}}" value="{{o}}" required>
                        <span>{{options[o]}}</span>
                    </label>
                </li>
                <br />

                {% endfor %}
            </ol>
            <p><input class="submit-btn" type="submit" value="SUBMIT"></p>
        </form>
    </div>

</div>
{% endblock %}