@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--LIGHTPURPLE);
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background: var(--LIGHTPURPLE);
}

.contact-container .contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.contact-container .contact-form form {
    position: relative;
    width: 60%;
    padding: 0 0 0 75px;
}

.contact-container .contact-form form h2 {
    color: var(--OFFWHITE);
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.contact-container .contact-form form .contact-form-input {
    position: relative;
    margin-top: 40px;
}

.contact-container .contact-form form .contact-form-input:first-child {
    margin-top: 0px;
}

.contact-container .contact-form form .contact-form-input input,
.contact-container .contact-form form .contact-form-input textarea {
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    color: var(--OFFWHITE);
    padding-bottom: 10px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 300;
    border-bottom: 2px solid rgba(238, 238, 238, 0.7);
}

.contact-container .contact-form form .contact-form-input textarea {
    height: 150px;
}

.contact-container .contact-form form .contact-form-input input[type="submit"] {
    background: var(--OFFWHITE);
    padding: 8px 20px;
    margin-top: -10px;
    width: 100px;
    border-radius: .7rem;
    cursor: pointer;
    color: var(--LIGHTPURPLE);
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contact-container .contact-form form .contact-form-input input[type="submit"]:hover {
    background: var(--PURPLE);
    color: var(--OFFWHITE);
}

.contact-container .contact-form form .contact-form-input input[type="submit"]:active {
    transform: scale(0.95);
}

.contact-container .contact-form form .contact-form-input span {
    position: absolute;
    left: 0;
    font-size: 1rem;
    font-weight: 300;
    display: inline-block;
    pointer-events: none;
    letter-spacing: 1px;
    color: var(--GREY);
    opacity: 0.7;
    transition: all 0.3s;
    margin-top: 10px;
}

.contact-container .contact-form form .contact-form-input input:focus ~ span,
.contact-container .contact-form form .contact-form-input textarea:focus ~ span,
.contact-container .contact-form form .contact-form-input input:valid ~span,
.contact-container .contact-form form .contact-form-input textarea:valid ~ span {
    transform: translateY(-28px);
    color: var(--OFFWHITE);
    opacity: 1;
    font-size: 0.9rem;
}

.contact-container .contact-form form .contact-form-input input:focus,
.contact-container .contact-form form .contact-form-input textarea:focus,
.contact-container .contact-form form .contact-form-input input:valid,
.contact-container .contact-form form .contact-form-input textarea:valid {
    border-bottom-color: var(--OFFWHITE); 
}

.contact-container .contact-form-img {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.contact-container .contact-form-img:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--OFFWHITE);
    transform-origin: bottom;
    transform: skewX(-25deg);
}

.contact-container .contact-form-img img {
    position: absolute;
    bottom: 0;
    max-height: 70%;
}

@media (max-width: 991px) {
    .contact-container .contact-form {
        width: 100%;
        padding: 0 50px;
    }

    .contact-container .contact-form form {
        width: 100%;
        max-width: 500px;
        padding: 0;
    }

    .contact-container .contact-form-img img {
        display: none;
    }
}