@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* NAVBAR COLOUR */
.line {
    background: linear-gradient(to right, var(--GREY), var(--LIGHTPURPLE));
    width: 100%;
    height: 4px;
    border-radius: 1.5rem;
}

.create-container {
    display: flex;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
}

.create-class-wrapper {
    background: var(--LIGHTPURPLE);
    position: absolute;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    top: 0;
}

.create-container h1 {
    text-align: center;
    padding-bottom: 1.5rem;
    color: var(--OFFWHITE);
    font-size: 5rem;
}

.create-form {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    max-height: 100vh;

}

.create-form input:not(:last-child) {
    display: block;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 0.4rem;
    padding: 10px 15px;
    margin: 2rem auto;
    display: block;
    text-align: center;
    font-size: 2rem;
    color: var(--OFFWHITE);
    transition-duration: 0.25s;
}

input:not(:last-child):hover {
    background-color: rgba(255, 255, 255, 0.4);
}

input:not(:last-child):focus,
input:not(:last-child):active {
    background-color: var(--OFFWHITE);
    color: var(--LIGHTPURPLE);
    width: 300px;
}

input:not(:last-child)::placeholder {
    color: var(--OFFWHITE);
}

select {
    outline: none;
    border: none;
    margin: 1rem auto;
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 0.4rem;
    padding: 10px 15px;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: var(--OFFWHITE);
}

option {
    outline: none;
    border: none;
    color: var(--OFFWHITE);
    background: var(--LIGHTPURPLE);
}

option::selection {
    background: var(--OFFWHITE);
}

.center {
    text-align: center;*/
/*    padding:5rem;*/
}

.submit-btn {
    display: inline-block;
    position: relative;
    margin-bottom: 1rem;
    padding: 1rem 4rem;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    border: none;
    border-radius: .4rem;
    background: var(--OFFWHITE);
    color: var(--LIGHTPURPLE);
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.submit-btn:hover {
    background: var(--GREY);
    border: 1px solid var(--GREY);
    color: var(--LIGHTPURPLE);
}

.submit-btn:active {
    transform: scale(0.95);
}
