@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* NAVBAR COLOUR */
.line {
    background: linear-gradient(to right, var(--GREY), var(--LIGHTPURPLE));
    width: 100%;
    height: 4px;
    border-radius: 1.5rem;
}

.create-container {
    display: flex;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
}

.create-class-wrapper {
    background: var(--LIGHTPURPLE);
    position: absolute;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    top: 0;
}

.create-container h1 {
    text-align: center;
    padding-bottom: 1.5rem;
    color: var(--OFFWHITE);
    font-size: 5rem;
}

.create-form {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    max-height: 100vh;

}

.create-form input {
    display: block;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 0.4rem;
    padding: 10px 15px;
    margin: 2rem auto;
    display: block;
    text-align: center;
    font-size: 1.4rem;
    color: var(--OFFWHITE);
    transition-duration: 0.25s;
}

input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

input:focus,
input:active {
    background-color: var(--OFFWHITE);
    color: var(--LIGHTPURPLE);
    width: 300px;
}

input::placeholder {
    color: var(--OFFWHITE);
}

select {
    outline: none;
    border: none;
    margin: 1rem auto;
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 0.4rem;
    padding: 10px 15px;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: var(--OFFWHITE);
}

option {
    outline: none;
    border: none;
    color: var(--OFFWHITE);
    background: var(--LIGHTPURPLE);
}

option::selection {
    background: var(--OFFWHITE);
}

.center {
    text-align: center;*/
/*    padding:5rem;*/
}

.submit-btn {
    display: inline-block;
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 1rem 4rem;
    text-decoration: none;
    border: none;
    border-radius: .4rem;
    background: var(--OFFWHITE);
    color: var(--LIGHTPURPLE);
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.submit-btn:hover {
    background: var(--GREY);
    border: 1px solid var(--GREY);
    color: var(--LIGHTPURPLE);
}

.submit-btn:active{
    transform: scale(0.95);
}




/* MODAL */
.bg-modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-contents {
    background-color: var(--OFFWHITE);
    text-align: center;
    padding: 10rem;
    position: relative;
    border-radius: .4rem;
}

.quiz-size {
    height: 450px;
    width: 1000px;
}

.class-size {
    height: 600px;
    width: 1000px;
}


.modal-contents h1 {
    margin: 1rem 0;
    color: var(--PURPLE);
    font-size: 4rem;
}

.modal-contents span {
    color: var(--LIGHTPURPLE);
    font-size: 5rem;
}

.modal-contents p {
    font-size: 2rem;
    color: var(--DARKPURPLE);
}

.route-btn, .route2-btn {
    display: block;
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 2rem 25rem;
    border-radius: .4rem;
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
}

.route-btn {
    color: var(--OFFWHITE);
    background-color: var(--LIGHTPURPLE);
}

.route2-btn {
    color: var(--LIGHTPURPLE);
    background-color: var(--OFFWHITE);
}

.route-btn::after, .route2-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: inherit;
    z-index: -1;
}

.route-btn:hover::after, .route2-btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
  transition: all .5s;
}

.route-btn:active, .route2-btn:active {
    transform: translateY(1.5px);
}
