@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

* {
    transition: all 0.6s;
}

html {
    max-height: 100vh;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--LIGHTPURPLE);
    margin: 0;
}

.line {
    background: linear-gradient(to right, var(--GREY), var(--LIGHTPURPLE));
    width: 100%;
    height: 4px;
    border-radius: 1.5rem;
}

footer {
    display: none
}

.error {
    display: block;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left, var(--LIGHTPURPLE), var(--DARKPURPLE));
    text-align: center;
    position: absolute;
    top: 0;
}

.error-num {
    display: block;
    text-align: center;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}

.error-num h2 {
    font-size: 5rem;
    display: inline-block;
    padding-right: 1rem;
    letter-spacing: 5px;
    animation: stroke .6s alternate infinite;
    color: var(--GREY);
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 10rem;
    letter-spacing: 13px;
    color: var(--GREY);
    position: relative;
    display: block;
    text-align: center;
    top: 20%;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 5px;
    color: var(--OFFWHITE);
    position: relative;
    text-align: center;
    display: block;
    top: 35%;
}

span {
    color: #f06292;
    font-size: 12rem;
}

.dot1 {
    font-size: 10rem;
}

.dot2 {
    font-size: 8rem;
}

.home-btn {
  display: inline-block;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--LIGHTPURPLE);
  background-color: var(--OFFWHITE);
  padding: 1rem 4rem;
  margin: 5rem 1rem 0 2rem;
  border-radius: .4rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  margin-top: 35rem;
}

.home-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  z-index: -1;
}

.home-btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
  transition: all .5s;
}

.home-btn:active {
    transform: translateY(1.5px);
}

.animation-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.animation-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 2rem;
    height: 2rem;
    top: -150px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 10s linear infinite;
}

.animation-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.animation-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation-delay: 1.5s;
    animation-duration: 12s;
}

.animation-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.animation-area li:nth-child(4) {
    left: 47%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.animation-area li:nth-child(5) {
    left: 58%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation-delay: 0s;
}

.animation-area li:nth-child(6) {
    left: 23%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

.animation-area li:nth-child(7) {
    left: 35%;
    width: 44px;
    height: 44px;
    animation-duration: 7.5s;
}

.animation-area li:nth-child(8) {
    left: 92%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation-delay: 2s;
    animation-duration: 3.5s;
}

@keyframes animate {
    0% {
        transform: translateY(500) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(850px) rotate(360deg);
        opacity: 0;
    }
}

@keyframes stroke {
    from {
    box-shadow: inset -3px 0px 0px #f06292;
    }

    to {
    box-shadow: inset -3px 0px 0px transparent;
    }
}

@media (max-width: 550px) {
    .fof h2 {
    font-size: 3rem;
    letter-spacing: 3px;
    padding-top: 2rem;
    }

    h1 {
    font-size: 5rem;
    letter-spacing: 8px;
    }

    p {
    font-size: 1.5rem;
    padding-top: 2rem;
    }

    span {
        font-size: 7rem;
    }

    .dot1 {
        font-size: 5rem;
    }

    .dot2 {
        font-size: 3rem;
    }
}