*::after, *::before {
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    height: 100vh;
    background-color: #360335;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
}

section:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--OFFWHITE);
    transform-origin: bottom;
    transform: skewX(-25deg) translateX(50%);
}

.faq-container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    z-index: 2;
}

.faq-container h1 {
    text-align: center;
    padding-bottom: 4rem;
    font-size: 3.2rem;
    color: var(--OFFWHITE);
}

.accordion-item {
    background-color: var(--PURPLE);
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0.5rem 2px 1rem rgba(0, 0, 0, 0.4);
}

.accordion-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    color: var(--GREY);
    opacity: 0.7;
    text-decoration: none;
    background-color: var(--PURPLE);
    width: 100%;
    padding: 1rem 0;
}

.accordion-link i {
    color: var(--GREY);
    padding: 0.5rem;
    opacity: 0.4;
}

.faq-ans {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #4e034c;
    border-radius: 0.5rem;
    color: var(--OFFWHITE);
    font-size: 1.7rem;
    padding-left: 1.5rem;
    transition: max-height 0.3s;
}

.faq-ans::before {
    content: "";
    position: absolute;
    width: 0.2rem;
    height: 100%;
    background-color: var(--LIGHTPURPLE);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.accordion-item:target .faq-ans {
    max-height: 25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.accordion-item:target .accordion-link .fa-plus {
    display: none;
}