@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Open+Sans+Condensed:300,700);
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

main {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr 1fr 1fr;
    grid-template-areas: 
        "header header header header header" 
        ". title-header title-count title-time ."
        ". title count time .";
    margin-left: 250px;
}

.forum-header {
    grid-area: header;
}

.forum-header h1 {
    color: var(--LIGHTPURPLE);
    padding: 3rem 3rem 1rem 3rem;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.forum-header h5 {
    color: var(--PURPLE);
    padding: 0 3rem 3rem 3rem;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.forum-header h5 a {
    color: var(--PURPLE);
    text-decoration: none;
}

.post-title {
    grid-area: title;
    padding: 1rem 1rem 1rem 3rem;
    background: var(--OFFWHITE);
    box-shadow: 0 2px 2px -2px gray;
}

.post-title a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: var(--LIGHTPURPLE);
}

.post-title a:hover {
    text-decoration: underline;
}

.post-count {
    grid-area: count;
    color: var(--GREY);
    padding: 1rem;
    text-align: center;
    background: var(--OFFWHITE);
    box-shadow: 0 2px 2px -2px gray;
}

.time-stamp {
    grid-area: time;
    color: var(--LIGHTPURPLE);
    padding: 1rem;
    text-align: center;
    background: var(--OFFWHITE);
    box-shadow: 0 2px 2px -2px gray;
}

.forum-title {
    grid-area: title-header;
    padding: 2rem 0 2rem 3rem;
    color: var(--OFFWHITE);
    background: var(--LIGHTPURPLE);
    border-top-left-radius: 0.4rem;
}

.forum-count {
    grid-area: title-count;
    text-align: center;
    padding: 2rem 0;
    color: var(--OFFWHITE);
    background: var(--LIGHTPURPLE);
}

.forum-time {
    grid-area: title-time;
    text-align: center;
    padding: 2rem 0;
    color: var(--OFFWHITE);
    background: var(--LIGHTPURPLE);
    border-top-right-radius: 0.4rem;
}

.create-thread {
    margin-top: 50px;
    margin-left: 250px;
}