/* MAIN PAGE */
 .gradient {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, var(--LIGHTPURPLE), var(--DARKPURPLE));
  background-size: cover;
  position: relative;
}

.gradient::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.gradient-clipped {
  width: 60%;
  height: inherit;
  background-color: var(--GREY);
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  transform-origin: right;
  z-index: 1;
}

.gradient-textbox {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
  color: var(--PURPLE);
  padding: 1rem;
  z-index: 15;
}

.text {
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 1rem;
}

.subtext {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.5rem
}

.home-btn {
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--OFFWHITE);
  background-color: var(--LIGHTPURPLE);
  padding: 1rem 4rem;
  margin: 5rem 1rem 0 2rem;
  border-radius: .4rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.3);
  position: relative;
}

.home-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  z-index: -1;
}

.home-btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
  transition: all .5s;
}

.home-btn:active {
    transform: translateY(1.5px);
}

/* BACKGROUND IMAGE */
.background .flat {
  background: url('../resources/images/BG.svg') center center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/* SPLIT SCREEN */
/* .split-container {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--GREY);
}

.split-container h1 {
  font-size: 4rem;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.left h1 {
    color: var(--OFFWHITE);
}

.right h1 {
    color: var(--LIGHTPURPLE);
}


.split-btn {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 60%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  transform: translateX(-50%);
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 1rem 4rem;
  border-radius: .4rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.3);
  position: relative;
}

.left .split-btn {
  color: var(--LIGHTPURPLE);
  background-color: var(--OFFWHITE);
}

.right .split-btn {
  color: var(--OFFWHITE);
  background-color: var(--LIGHTPURPLE);
}

.split-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  z-index: -1;
}

.split-btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
  transition: all .5s;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
} */

/* .left {
  left: 0; */
  /*background: var(--LIGHTPURPLE);*/
  /* background: url('../resources/images/Student.svg') center center no-repeat;
  background-size: 53vh;
  background-color: rgba(0, 0, 0, .7);
} */

/* .left::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: var(--LIGHTPURPLE);
  opacity: 0.7;
}

.right {
  right: 0; */
  /*background: var(--GREY);*/
  /* background: url('../resources/images/Teacher.svg') center center no-repeat;
  background-size: 80vh;
}

.right::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: var(--GREY);
}

.left, .right, .right::before, .left::before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--width);
}

.hover-left .right::before {
  z-index: 2;
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--width);
}

.hover-right .left::before {
  z-index: 2;
} */

/* UNIQUE ID QUERY */
.query {
  background-color: var(--GREY);
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* font-family: 'Lato', sans-serif; */
  padding: 10rem 0;
}

.query h1 {
  margin-bottom: 5rem;
  font-size: 4rem;
  color: var(--PURPLE);
  font-family: 'Lato', sans-serif;
}

.query-form {
  width: 20%;
  position: relative;
  height: 50px;
  background-color: var(--GREY);
  overflow: hidden;
  text-transform: uppercase;
}

.query-form input {
  width: 100%;
  height: 100%;
  color: var(--LIGHTPURPLE);
  padding: 20px auto 0 auto;
  text-align: center;
  border: none;
  outline: none;
  background-color: var(--GREY);
  font-size: 2.5rem;
}

.query-form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid var(--DARKPURPLE);
}

.query-form label::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid var(--LIGHTPURPLE);
  bottom: -1px;
  left: 0px;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.content-unique-id {
  position: absolute;
  font-size: 2.5rem;
  bottom: 5px;
  left: 0px;
  transition: all 0.5s ease;
  color: var(--LIGHTPURPLE);
}

.query-form input:focus + .label-unique-id .content-unqiue-id,
.query-form input:valid + .label-unique-id .content-unique-id {
  transform: translateY(-150%);
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--LIGHTPURPLE);
}

.query-form input:focus + .label-unique-id::after,
.query-form input:valid + .label-unique-id::after {
  transform: translateX(0%);
}

.submit-btn {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--OFFWHITE);
  background-color: var(--LIGHTPURPLE);
  padding: 1rem 4rem;
  margin-top: 5rem;
  border-radius: .4rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

.submit-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  z-index: -1;
}

.submit-btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
  transition: all .5s;
}

.submit-btn:active {
    transform: translateY(1.5px);
}

@media screen and (max-width: 1440px) {
  .gradient-clipped {
    width: 100%;
    height: 75vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
  }

  .logo a {
    color: var(--LIGHTPURPLE);
    background-color: var(--GREY);
    outline-color: var(--LIGHTPURPLE);
  }
}

@media screen and (max-width: 760px) {
  .list {
    width: 30rem;
  }

  .text {
    font-size: 4rem;
  }

  .subtext {
    font-size: 1.2rem;
  }

  .home-btn {
    padding: 1rem 2.5rem;
    margin-top: 2rem;
  }

  .container h1 {
    font-size: 2rem;
  }

  .split-btn {
    width: 12rem;
  }

  .gradient-textbox {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .text {
    font-size: 3rem;
  }

  .subtext {
    font-size: 1rem;
  }

  .home-btn {
    margin-top: 1.5rem;
  }

  .split-btn {
    top: 70%;
  }
}
