@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83)), url(../resources/images/BG.svg);
    background-size: cover;
    font-family: Montserrat, sans-serif;
    min-height: 100vh;
    text-align: center;
    font-size: 1.5rem;
}

form .h1 {
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 5rem;
    display: block;
    color: var(--GREY);
}

.input-field {
    color: var(--LIGHTPURPLE);
    outline: none;
    margin-top: 5rem;
}

.input-field input {
    padding: 1rem;
    text-align: center;
    outline: none;
    color: var(--LIGHTPURPLE);
    border: none;
    background: none;
    border-bottom: 3px solid var(--LIGHTPURPLE);
}

.rmb-me {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--OFFWHITE)
}

form {
    margin-top: 10rem;
}

login-form {
    width: 360px;
    height: 580px;
    display: inline-block;
}

.login-btn {
    margin-bottom: 1rem;
    width: 15%;
    padding: 1rem;
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--LIGHTPURPLE);
    color: var(--OFFWHITE);
    outline: none;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.login-btn:hover {
    background-color: var(--PURPLE);
}

.login-btn:active {
    transform: scale(0.95);
}

.bottom-text {
    margin-top: 1rem;
    color: var(--OFFWHITE);
}

.bottom-text a {
    color: var(--LIGHTPURPLE);
}

.bottom-text a:hover {
    color: var(--PURPLE);
}

