@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    background-color: var(--OFFWHITE);
    background-size: cover;
    font-family: Montserrat, sans-serif;
    min-height: 100vh;
    text-align: center;
    font-size: 1.5rem;
}

form h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 5rem;
    display: block;
    color: var(--PURPLE);
}

.input-field {
    color: var(--LIGHTPURPLE);
    outline: none;
    margin-bottom: 3rem;
}

.input-field input {
    padding: 1rem;
    text-align: center;
    outline: none;
    color: var(--LIGHTPURPLE);
    border: none;
    background: none;
    border-bottom: 3px solid var(--LIGHTPURPLE);
}

.rmb-me {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--DARKPURPLE)
}

form {
    margin-top: 10rem;
}

login-form {
    width: 360px;
    height: 580px;
    display: inline-block;
}

.login-form:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background: var(--LIGHTPURPLE);
    transform-origin: bottom;
    transform: skewX(25deg);
}

.login-btn {
    display: inline-block;
    position: relative;
    margin-top: 1rem;
    padding: 1rem 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    border: none;
    border-radius: .4rem;
    background: var(--LIGHTPURPLE);
    color: var(--OFFWHITE);
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.login-btn:hover {
    background: var(--OFFWHITE);
    border: 1px solid var(--LIGHTPURPLE);
    color: var(--LIGHTPURPLE);
}

.login-btn:active {
    transform: scale(0.95);
}

.bottom-text {
    margin-top: 1rem;
    color: var(--DARKPURPLE);
}

.bottom-text a {
    color: var(--LIGHTPURPLE);
}

.bottom-text a:hover {
    color: var(--PURPLE);
}

input::placeholder {
    color: var(--LIGHTPURPLE);
    font-size: 1.8rem;
    opacity: 0.7;
}

.unconfirmed {
    margin-top: 5rem;
}

.unconfirmed-text a {
    color: var(--LIGHTPURPLE);
}

.unconfirmed-text a:hover {
    color: var(--PURPLE);
}

