* {
  background-color: var(--GREY);
  align-items: center;
  justify-content: center;
}

:root {
    --OFFWHITE: #EEEEEE;
    --GREY: #CCCCCC;
    --LIGHTPURPLE: #AA076B;
    --DARKPURPLE: #420341;
    --PURPLE: #61045F;
    /*--hover-width: 75%;
    --width: 25%;
    --speed: 1s;*/
}

/*input {
    background: var(--GREY);
}

.login-form {
    padding-top: 10rem;
    border-radius: 2rem;
    text-align: center;
}

.login-form form {
    background: var(--GREY);
    width: 100%;
}*/