@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background: var(--OFFWHITE);
    color: var(--LIGHTPURPLE);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

/* HEADING FOR THREAD */

.thread-title {
    display: grid;
    grid-template-columns: 1fr 1fr 2.5fr 1fr 1fr;
    grid-template-areas: ". back title delete .";
/*    margin-left: 250px;*/
    margin-top: 3rem;
}

.thread-title a, .post-content a {
    text-decoration: none;
    color: var(--DARKPURPLE);
    transition: ease-in-out 0.2s;
}

.thread-title a:hover {
    transform: scale(1.05);
    color: var(--LIGHTPURPLE);
}

.thread-title-text {
    grid-area: title;
    text-transform: uppercase;
    text-align: center;
    font-size: 5rem;
}

.thread-back {
    grid-area: back;
    font-size: 1.8rem;
    text-align: right;
    padding: 1.6rem 0;
}

.thread-back i {
    font-size: 2.5rem;
    padding: 2rem 0;
    transform: translateY(4px);
}

.thread-delete {
    grid-area: delete;
    font-size: 1.8rem;
    padding: 1.6rem 0;
    text-align: left;
}

.thread-delete i, .thread-back i {
    padding: 1rem;
}

/* THREAD CONTENT */
.post-content {
    display: grid;
    grid-template-columns: 1fr 2fr auto auto 1fr;
    grid-template-areas: ". name edit delete-post ."
                         ". content content content .";
    margin-top: 3rem;
}

.name {
    grid-area: name;
    text-transform: uppercase;
    font-size: 2.2rem;
    background: white;
    padding: 1rem;
    border-top-left-radius: 0.4rem;
}

.post-edit {
    grid-area: edit;
    text-align: right;
    background: white;
    padding: 1rem;
    grid-template-columns: min-content auto
}

.post-delete {
    grid-area: delete-post;
    text-align: left;
    background: white;
    padding: 1.5rem 1rem;
    border-top-right-radius: 0.4rem;
}

.post-content a {
    font-size: 1.4rem;
}

.post-content a:hover {
    transform: translateY(-5px) scale(1.1);
    color: var(--LIGHTPURPLE);
    transition: ease-in-out 0.3s;
}

.post-edit i, .post-delete i {
    padding: 0 0.5rem 0 2rem;
    margin: 0.5rem;
}

.content {
    grid-area: content;
    padding: 1rem;
    font-size: 1.7rem;
    background: var(--LIGHTPURPLE);
    color: var(--OFFWHITE);
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

/* DELETE BUTTONS */
.post-delete input, .thread-delete input, .post-edit i {
    display: inline-block;
    position: relative;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    border: none;
    border-radius: .4rem;
    background: var(--LIGHTPURPLE);
    color: var(--OFFWHITE);
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

/* MESSAGE DISPLAY */
.post-heading {
    padding: 1rem 0;
    text-align: center;
    letter-spacing: 2px;
}

.post-heading h1 {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 300;
}

.form-container {
    position: relative;
    max-width: 460px;
    width: 100%;
    margin: 3rem auto 0 auto;
}

.post-form {
    position: relative;
    background: white;
    border-radius: 0.4rem;
    padding: 5rem 0 3.2rem 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 80px;
}

.form-heading {
    position: relative;
    z-index: 1;
    border-left: 5px solid var(--LIGHTPURPLE);
    color: var(--LIGHTPURPLE);
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.input-container {
    position: relative;
    margin: 5rem 6rem 5rem;
}

.input-container input {
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 40px;
    border: 0;
    color: var(--LIGHTPURPLE);
    font-size: 1.5rem;
    font-weight: 400;
}

.input-container label {
    position: absolute;
    top: -10px;
    left: 0;
    color: var(--GREY);
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 60px;
    transition: 0.4s ease;
}

.input-container input:focus ~ label, .input-container input:valid ~ label {
    color: var(--PURPLE);
    transform: translate(-12%, -40%) scale(0.85);
}

.input-container .underline {
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--GREY);
    width: 100%;
    height: 1px;
}

.input-container .underline:before {
    content: '';
    position: absolute;
    background: linear-gradient(to right, var(--LIGHTPURPLE), var(--PURPLE));
    width: 0;
    height: 3px;
    transition: .4s ease;
}

.input-container input:focus ~ .underline:before {
    width: 100%;
}

.input-container .underline:before {
    right: 0%;
}

.textarea {
    color: var(--LIGHTPURPLE);
    resize: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

.post-btn {
    display: inline-block;
    position: relative;
    margin: 1rem auto;
    padding: 1rem 4rem;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    border: none;
    border-radius: .4rem;
    background: var(--LIGHTPURPLE);
    color: var(--OFFWHITE);
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.post-btn:hover {
    background: var(--OFFWHITE);
    border: 1px solid var(--LIGHTPURPLE);
    color: var(--LIGHTPURPLE);
}

.post-btn:active {
    transform: scale(0.95);
}
