* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

.quiz-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container h1 {
    font-size: 5rem;
    margin-bottom: 8rem;
    color: var(--LIGHTPURPLE);
}

#question {
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--LIGHTPURPLE);
}

.options-container {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.8rem;
    background-color: var(--OFFWHITE);
    border-radius: .4rem;
}

.options-container span:hover {
    cursor: pointer;
    box-shadow: 0 0.2rem 1rem 0 var(--LIGHTPURPLE);
    transform: translateY(-0.1rem);
    transition: transform 0.2s;
}

.options-prefix {
    padding: 1.5rem 2.5rem;
    background-color: var(--LIGHTPURPLE);
    color: var(--OFFWHITE);
    border-radius: .3rem;
}

label {
    width: 100%;
    cursor: pointer;
}

span {
    border-radius: 0.3rem;
}

label input {
    display: none;
}

.options-container label {
    cursor: pointer;
    padding: 1.5rem;
}

label input:checked ~ span {
    box-shadow: 0 0.2rem 1rem 0 var(--LIGHTPURPLE);
    transform: translateY(-0.1rem);
    transition: transform 0.2s;
}

.delete-btn {
    background: red;
    color: var(--OFFWHITE);
}

.float {
    float: left;
}

.margin {
    margin-left: 2rem;
}

.submit-btn, .edit-btn {
    background: var(--LIGHTPURPLE);
    color: var(--OFFWHITE);
}

.submit-btn, .delete-btn, .edit-btn {
    position: relative;
    margin-bottom: 1rem;
    padding: 1rem 4rem;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    border: none;
    border-radius: .4rem;
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.submit-btn:hover {
    background: var(--OFFWHITE);
    border: 1px solid var(--LIGHTPURPLE);
    color: var(--LIGHTPURPLE);
}

.delete-btn:hover {
    background: var(--OFFWHITE);
    border: 1px solid red;
    color: red;
}

.submit-btn:active, .delete-btn:active {
    transform: scale(0.98);
}

.edit-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  z-index: -1;
}

.edit-btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
  transition: all .5s;
}

.edit-btn:active {
   transform: translateY(1.5px);
}

.preview-qn {
    margin: 0 0 80px 0;
}

.create-form h1 {
    color: var(--LIGHTPURPLE);
}

.answer {
    background: green;
    color: var(--OFFWHITE);
    padding: 1.5rem;
}