@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background-color: var(--GREY);
}

/* NAVBAR COLOUR */
.line {
    background: linear-gradient(to right, var(--GREY), var(--LIGHTPURPLE));
    /*background: black;*/
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 4px;
    border-radius: 1.5rem;
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-top: .5rem;
}

span {
    font-size: 12px;
}

.container a {
    color: var(--LIGHTPURPLE);
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.register-btn {
    margin-bottom: 1rem;
    margin-top: 3rem;
    width: 15%;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
    background: var(--LIGHTPURPLE);
    color: var(--OFFWHITE);
    outline: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.register-btn:hover {
    background: var(--PURPLE);
}

.register-btn:active {
    transform: scale(0.95);
}

button {
    border: 1px solid var(--LIGHTPURPLE);
    font-weight: bold;
    transition: transform 80ms ease-in;
    display: inline-block;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--OFFWHITE);
    background-color: var(--LIGHTPURPLE);
    padding: 1rem 4rem;
    margin-top: 1rem;
    border-radius: .4rem;
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.3);
    position: relative;
    cursor: pointer;
    outline: none;
}

button.ghost {
    background-color: var(--OFFWHITE);
    border-color: var(--OFFWHITE);
    color: var(--LIGHTPURPLE)
}

button.ghost::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: inherit;
    z-index: -1;
}

button.ghost:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0;
    transition: all .5s;
}

form {
    background-color: var(--OFFWHITE);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 50px;
    height: 100%;
}

.form-container .input-field input {
    background-color: var(--GREY);
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 1rem;
    border: none;
    outline: none;
    color: var(--LIGHTPURPLE);
}

input::placeholder {
    color: var(--LIGHTPURPLE);
    font-family: Montserrat, sans-serif;
}

.form-container h1 {
    color: var(--PURPLE);
}

.container {
    background-color: var(--OFFWHITE);
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.stu-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .stu-container {
    transform: translateX(100%);
}

.edu-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .edu-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 1;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, var(--LIGHTPURPLE), var(--PURPLE));
    background: linear-gradient(to right, var(--LIGHTPURPLE), var(--PURPLE));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: var(--OFFWHITE);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}