/* GLOBAL STYLE */
@font-face {
  font-family: "Quicksand_Light";
  src: url("../resources/fonts/Quicksand_Light.woff");
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("../resources/fonts/Raleway-Regular.woff");
}

@font-face {
  font-family: "roboto-regular";
  src: url("../resources/fonts/roboto-regular.woff");
}

@font-face {
  font-family: "Simplifica";
  src: url("../resources/fonts/Simplifica.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
  --OFFWHITE: #EEEEEE;
  --GREY: #CCCCCC;
  --LIGHTPURPLE: #AA076B;
  --DARKPURPLE: #420341;
  --PURPLE: #61045F;
  --hover-width: 75%;
  --width: 25%;
  --speed: 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

/* SCROLLBAR */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--LIGHTPURPLE);
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 1);
}

::-webkit-scrollbar {
  width: .8rem;
  background-color: var(--DARKPURPLE);
}

::-webkit-scrollbar-track {
  border-radius: 0.8rem;
  background-color: var(--DARKPURPLE);
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 1);
}

/* HIGHLIGHTS */
::selection {
  background: var(--LIGHTPURPLE);
  color: var(--GREY);
}


/* NAVIGATION BAR */
.navbg {
  background: var(--DARKPURPLE)
}

.navbar {
  width: 100%;
  position: fixed;
  right: -200vh;
  top: -100vh;
  z-index: 20;
  background-color: var(--OFFWHITE);
  border-bottom-left-radius: 900%;
  opacity: 0;
  transition: all 650ms cubic-bezier(1,0,0,1);
}

.list {
  list-style: none;
  width: 50rem;
  height: 100vh;
  position: absolute;
  padding: 5%;
  top: 0;
  right: 0;
  background-color: var(--OFFWHITE);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.link {
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  padding: .5rem;
  color: var(--DARKPURPLE);
  text-decoration: none;
  display: block;
  transition: color 2s;
}

.link:hover, .link:focus {
  background: linear-gradient(to top, var(--LIGHTPURPLE), var(--PURPLE));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav li:hover {
  animation: rubberBand 1s;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
}

.navbar.open {
  right: 0;
  top: 0;
  border-radius: initial;
  opacity: 1;
}

/* NAV BAR HAMBURGER MENU */
.menu {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 25;
  opacity: 1;
  transition: transform 650ms ease-in-out;
}

.menu.open {
  transform: rotate(-45deg);
}

.line {
  background: linear-gradient(to right, var(--LIGHTPURPLE), var(--PURPLE));
  width: 100%;
  height: 4px;
  border-radius: 1.5rem;
}

.line.half {
  width: 50%;
}

.line.start {
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .line.start{
  transform: rotate(-90deg) translateX(0.8rem);
}

.line.end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .line.end{
  transform: rotate(-450deg) translateX(-0.8rem);
}

footer {
    color: var(--OFFWHITE);
    background-color: var(--DARKPURPLE);
    padding: 3rem;
}



@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  15% {
    transform: scale3d(1.25, 0.75, 1);
  }

  30% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  70% {
    transform: scale3d(.95, 1.05, 1);
  }

  85% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
