/* GLOBAL STYLE */
@font-face {
  font-family: "Raleway-Regular";
  src: url("../resources/fonts/Raleway-Regular.woff");
}

@font-face {
  font-family: "roboto-regular";
  src: url("../resources/fonts/roboto-regular.woff");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
  --OFFWHITE: #EEEEEE;
  --GREY: #CCCCCC;
  --LIGHTPURPLE: #AA076B;
  --DARKPURPLE: #420341;
  --PURPLE: #61045F;
  --hover-width: 75%;
  --width: 25%;
  --speed: 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  /*height: 100%;*/
}

html {
    position: relative;
    min-height: 100%;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

/* SCROLLBAR */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--LIGHTPURPLE);
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 1);
}

::-webkit-scrollbar {
  width: .8rem;
  background-color: var(--DARKPURPLE);
}

::-webkit-scrollbar-track {
  border-radius: 0.8rem;
  background-color: var(--DARKPURPLE);
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 1);
}

/* HIGHLIGHTS */
::selection {
  background: var(--LIGHTPURPLE);
  color: var(--GREY);
}


/* LOADING SCREEN */

.preload-end {
    opacity: 0;
    pointer-events: none;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at center, #FFFFFF 0%, #CCCCCC 100%);
    z-index: 1000;
    top: 0;
    position: absolute;
    transition: opacity 1.5s ease-out;
}

.loader {
  position: absolute;
  top: calc(50vh - 64px);
  left: calc(50vw - 64px);
  width: 128px;
  height: 128px;
  border-radius: 50%;
  perspective: 1200px;
}

.loader h1 {
    position: relative;
    top: 32%;
    right: 19%;
    color: var(--LIGHTPURPLE);
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate 1.2s linear infinite;
  border-bottom: 5px solid var(--LIGHTPURPLE);
}

@keyframes rotate {
  0% {
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
  }
}

.animation-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.animation-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 2rem;
    top: -150px;
    height: 2rem;
    background: rgba(170, 7, 107, 0.2);
    animation: animate 10s linear infinite;
}

.animation-area li:nth-child(1) {
    left: 86%;
    top: 30%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.animation-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation-delay: 0s;
    top: 20%;
    animation-duration: 12s;
}

.animation-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.animation-area li:nth-child(4) {
    left: 47%;
    width: 150px;
    height: 150px;
    animation-delay: 1s;
    animation-duration: 15s;
}

.animation-area li:nth-child(5) {
    left: 58%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 10%;
    animation-delay: 0s;
}

.animation-area li:nth-child(6) {
    left: 23%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

.animation-area li:nth-child(7) {
    left: 35%;
    width: 44px;
    height: 44px;
    animation-duration: 7.5s;
}

.animation-area li:nth-child(8) {
    left: 92%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation-delay: 2s;
    animation-duration: 3.5s;
}

@keyframes animate {
    0% {
        transform: translateY(500) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(850px) rotate(360deg);
        opacity: 0;
    }
}


/* NAVIGATION BAR */
.navbg {
  background: var(--DARKPURPLE)
}

.navbar {
  width: 100%;
  position: fixed;
  right: -200vh;
  top: -100vh;
  z-index: 20;
  background-color: var(--OFFWHITE);
  border-bottom-left-radius: 900%;
  opacity: 0;
  transition: all 650ms cubic-bezier(1,0,0,1);
}

.list {
  list-style: none;
  width: 50rem;
  height: 100vh;
  position: absolute;
  padding: 5%;
  top: 0;
  right: 0;
  background-color: var(--OFFWHITE);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.link {
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  padding: .5rem;
  color: var(--DARKPURPLE);
  text-decoration: none;
  display: block;
  transition: color 2s;
}

.link:hover, .link:focus {
  background: linear-gradient(to top, var(--LIGHTPURPLE), var(--PURPLE));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar li:hover {
  animation: rubberBand 1s;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
}

.navbar.open {
  right: 0;
  top: 0;
  border-radius: initial;
  opacity: 1;
}

/* NAV BAR HAMBURGER MENU */
.menu {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 25;
  opacity: 1;
  transition: transform 650ms ease-in-out;
}

.menu.open {
  transform: rotate(-45deg);
}

.line {
  background: linear-gradient(to right, var(--LIGHTPURPLE), var(--PURPLE));
  width: 100%;
  height: 4px;
  border-radius: 1.5rem;
}

.line.half {
  width: 50%;
}

.line.start {
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .line.start{
  transform: rotate(-90deg) translateX(0.8rem);
}

.line.end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .line.end{
  transform: rotate(-450deg) translateX(-0.8rem);
}

/* FOOTER */

footer {
    color: var(--OFFWHITE);
    background-color: var(--DARKPURPLE);
    padding: 1.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    display: block;
    z-index: 50;
}

.inner-footer {
    display: block;
    margin: 0 auto;
    width: 100%;

}

.inner-footer .footer_third {
    margin: 0 3rem;
    float: left;
}

.footer_third a {
    letter-spacing: 0;
    color: var(--OFFWHITE);
    text-decoration: none;
}

.footer_third a:active,
.footer_third a:hover {
    letter-spacing: 0.2rem;
    transition: all 280ms ease-in-out;
}

.footer_third::after {
    backface-visibility: hidden;
    border: 1px solid var(--OFFWHITE);
    opacity: 0;
    bottom: -5px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

.footer_third:hover::after {
    backface-visibility: hidden;
    border-color: var(--OFFWHITE);
    transition: width 350ms ease-in-out;
    width: 100%;
    opacity: 1;
}

.footer_copyright {
    float: right;
    margin: 0 3rem;
    letter-spacing: 0.2rem;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  15% {
    transform: scale3d(1.25, 0.75, 1);
  }

  30% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  70% {
    transform: scale3d(.95, 1.05, 1);
  }

  85% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
