<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Knewbie{{ title }}</title>
    <meta name="viewport" content="width = device-width, initial-scale = 1, maximum-scale = 1, user-scalable = no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="shortcut icon" type="image/png" href="resources/images/favicon.png">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="../static/content/style.css">
    {% block style %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Roboto|Syncopate&display=swap" rel="stylesheet">
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li style="color: red; font-size: 25px">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <!-- NAV BAR -->
    <header>
        <div class="menu">
            <div class="line half start"></div>
            <div class="line"></div>
            <div class="line half end"></div>
        </div>

        <nav class="navbar">
            <ul class="list">
                {% if current_user.is_authenticated and current_user.urole == 'student' %}
                <li class="navitem"><a href="{{ url_for('dashboard') }}" class="link">Home</a></li>
                <li class="navitem"><a href="{{ url_for('dashboard') }}#viewclass" class="link">View Classes</a></li>
                <li class="navitem"><a href="{{ url_for('dashboard') }}#joinclass" class="link">Join A Class</a></li>
                <li class="navitem"><a href="{{ url_for('dashboard') }}#topicalquiz" class="link">Topical Quizzes</a></li>
                <li class="navitem"><a href="{{ url_for('dashboard') }}#mockquiz" class="link">Mock Quizzes</a></li>
                <li class="navitem"><a href="{{ url_for('logout') }}" class="link">Sign Out</a></li>
                {% elif current_user.is_authenticated and current_user.urole == 'educator' %}
                <li class="navitem"><a href="{{ url_for('dashboard') }}" class="link">Home</a></li>
                <li class="navitem"><a href="{{ url_for('dashboard') }}#viewclasses" class="link">View Classes</a></li>
                <li class="navitem"><a href="{{ url_for('dashboard') }}#createclass" class="link">Create A Class</a></li>
                <li class="navitem"><a href="{{ url_for('dashboard') }}#createquestion" class="link">Create Questions</a></li>
                <li class="navitem"><a href="{{ url_for('logout') }}" class="link">Sign Out</a></li>
                {% else %}
                <li class="navitem"><a href="{{ url_for('home') }}" class="link">Home</a></li>
                <li class="navitem"><a href="{{ url_for('login') }}" class="link">Sign In</a></li>
                <li class="navitem"><a href="{{ url_for('faq') }}" class="link">FAQ</a></li>
                <li class="navitem"><a href="{{ url_for('contact') }}" class="link">Contact</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}

    <footer>
        <div class="inner-footer">
            <div class="footer_third">
                <h3><a href="#" class="link-hover">Terms & Conditions</a></h3>
            </div>
            <div class="footer_third">
                <h3><a href="{{ url_for('contact') }}" class="link-hover">Contact Us</a></h3>
            </div>
            <div class="footer_third">
                <h3><a href="{{ url_for('faq') }}" class="link-hover">Frequently Asked Questions</a></h3>
            </div>
            <div class="footer_copyright">
                <h3>&copy; 2020 Knewbie</h3>
            </div>
        </div>
    </footer>

    {% block script %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js"></script> -->
    <script src="../static/scripts/script.js"></script>
    <script src="../static/scripts/jquery.min.js"></script>
</body>
</html>
