{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="../static/content/createstyle.css">
{% endblock %}
{% block content %}
<div class="create-class-wrapper">
    <div class="create-container">

        <form action="" method="post" novalidate class="create-form">
            {{ form.hidden_tag() }}
            <h1>Create A New Class</h1>
            {{ form.className(size=32, class_="input", placeholder="Class Name") }}
            {{ form.submit(class_="submit-btn", _id="submit-btn") }}
        </form>
    </div>
</div>
{% endblock %}