{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="../static/content/createstyle.css">
{% endblock %}
{% block content %}
<div class="create-class-wrapper">
    <div class="create-container">

        <form action="" method="post" novalidate class="create-form">
            {{ form.hidden_tag() }}
            <h1>Create A New Class</h1>
            {{ form.className(size=32, class_="input", placeholder="Class Name") }}
            {{ form.submit(class_="submit-btn", _id="submit-btn") }}
        </form>
    </div>
</div>

<div class="bg-modal">
    <div class="modal-contents">
        <h1>Class was successfully created!</h1>
        <h1>Class code: <span>123456</span></h1>
        <a href="#" class="route-btn">Go To Class</a>
        <a href="{{ url_for('createclass') }}" class="route-btn">Create Another Class</a>
        <a href="{{ url_for('dashboard') }}" class="route-btn">Home</a>
        <p>Please share the class code with only the parties you want to add to the class.</p>
    </div>
</div>
{% endblock %}