{% from "_formhelpers.html" import render_error %}
{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='content/createstyle.css')}}">
{% endblock %}
{% block content %}
<div class="create-class-wrapper">
    <div class="create-container">
        <form action="" method="post" class="create-form">
            {{ form.hidden_tag() }}
            <h1>Create A New Quiz</h1>
            {{ form.topic(placeholder="Select Topic", class_="center") }}
            {{ render_error(form.topic) }}
            {{ form.qn(size=32, placeholder="Input Question") }}
            {{ render_error(form.qn) }}
            {{ form.op1(size=32, placeholder="Option 1") }}
            {{ render_error(form.op1) }}
            {{ form.op2(size=32, placeholder="Option 2") }}
            {{ render_error(form.op2) }}
            {{ form.op3(size=32, placeholder="Option 3") }}
            {{ render_error(form.op3) }}
            {{ form.op4(size=32, placeholder="Option 4") }}
            {{ render_error(form.op4) }}
            {{ form.corrOp(placeholder="Correct Option") }}
            {{ render_error(form.corrOp) }}
            {{ form.img() }}
            {{ render_error(form.img) }}
            {% if edit %}
            {{ form.submit(label='Save',class_="submit-btn") }}
            {% else %}
            {{ form.submit(class_="submit-btn") }}
            {{ form.complete(class_="submit-btn") }}
            {% endif %}
            <!--<select required>
        <option value="" disabled selected hidden>Select Topic</option>
        <option value="">Geometry</option>
        <option value="">Estimation</option>
        <option value="">Model</option>
    </select>
    <input required type="text" placeholder="Input Question">
    <input required type="text" placeholder="Option 1">
    <input required type="text" placeholder="Option 2">
    <input required type="text" placeholder="Option 3">
    <input required type="text" placeholder="Option 4">
    <select required>
        <option value="" disabled selected hidden>Select Correct Option</option>
        <option value="">Option 1</option>
        <option value="">Option 2</option>
        <option value="">Option 3</option>
        <option value="">Option 4</option>
    </select>
    <button type="button" class="create-btn">Attach Image</button>
    <button type="submit" class="create-btn">Create Question</button>-->
        </form>
    </div>
</div>
{% endblock %}