{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="../static/content/createstyle.css">
{% endblock %}
{% block content %}
{% include "createclass.html" %}

<div class="bg-modal">
    <div class="modal-contents class-size">
        <h1>Class was successfully created!</h1>
        <h1>Class code: <span>123456</span></h1>
        <a href="#" class="route-btn">Go To Class</a>
        <a href="{{ url_for('createclass') }}" class="route-btn">Create A New Class</a>
        <a href="{{ url_for('dashboard') }}" class="route-btn">Home</a>
        <p>Please share the class code with only the parties you want to add to the class.</p>
    </div>
</div>
{% endblock %}