{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="../static/content/dashboardstyle.css">
{% endblock %}
{% block content %}
<nav class="sidebar">
    <ul>
        <li><a href="#">Notifications <i class="fas fa-bell"></i></a></li>
        <li><a href="#">Forum <i class="fas fa-newspaper"></i></a></li>
        <li><a href="{{ url_for('faq') }}">FAQ <i class="fas fa-question"></i></a></li>
        <li><a href="{{ url_for('contact') }}">Contact Us<i class="fas fa-comments"></i></a></li>
    </ul>
</nav>

<div class="container">
    <section class="box">
        <div class="avatar">
            <img src="{{ image_file }}" style="width: 200px; height: 200px" />
        </div>
        <div class="details">
            <h2>{{ current_user.firstName }} {{ current_user.lastName }}</h2>
            {% if current_user.is_authenticated and current_user.urole == 'student' %}
            <p>Knewbie ID: {{ current_user.knewbie_id }} </p>
            {% endif %}
            <a href="{{ url_for('progressreport') }}" class="btn">Progress Report</a>
        </div>
    </section>

    <section class="box" id="viewclass">
        <h1>View Your Classes</h1>
        <div class="card-wrapper">
            <div class="card">
                <div class="card-background"></div>
                <img src="../static/resources/images/Student.svg" class="quiz-symbol">
                <h2>Class 1</h2>
                <a href="{{ url_for('quiz') }}" class="btn">Begin Quiz</a>
            </div>


            <div class="card">
                <div class="card-background"></div>
                <img src="../static/resources/images/Teacher.svg" class="quiz-symbol">
                <h2>Class 2</h2>
                <a href="{{ url_for('quiz') }}" class="btn">Begin Quiz</a>
            </div>

            <div class="card">
                <div class="card-background"></div>
                <img src="../static/resources/images/Contact.svg" class="quiz-symbol">
                <h2>Class 3</h2>
                <a href="{{ url_for('quiz') }}" class="btn">Begin Quiz</a>
            </div>

            <div class="card">
                <div class="card-background"></div>
                <img src="../static/resources/images/Teacher.svg" class="quiz-symbol">
                <h2>Class 4</h2>
                <a href="{{ url_for('quiz') }}" class="btn">Begin Quiz</a>
            </div>
        </div>
    </section>

    {% if current_user.is_authenticated and current_user.urole == 'student' %}
    <section class="box" id="joinclass">
        <h1>Join A Class</h1>
        <div class="details">
            <h2>John Doe</h2>
            <p>Unique ID: </p>
        </div>
    </section>

    <section class="box" id="topicalquiz">
        <h1>Topical Quizzes</h1>
        <div class="card-wrapper">
            <div class="card">
                <div class="card-background"></div>
                <img src="../static/resources/images/Student.svg" class="quiz-symbol">
                <h2>Geometry</h2>
                <a href="{{ url_for('quiz') }}" class="btn">Begin Quiz</a>
            </div>

            <div class="card">
                <div class="card-background"></div>
                <img src="../static/resources/images/Teacher.svg" class="quiz-symbol">
                <h2>Estimation</h2>
                <a href="{{ url_for('quiz') }}" class="btn">Begin Quiz</a>
            </div>

            <div class="card">
                <div class="card-background"></div>
                <img src="../static/resources/images/Contact.svg" class="quiz-symbol">
                <h2>Algebra</h2>
                <a href="{{ url_for('quiz') }}" class="btn">Begin Quiz</a>
            </div>

            <div class="card">
                <div class="card-background"></div>
                <img src="../static/resources/images/Teacher.svg" class="quiz-symbol">
                <h2>Test</h2>
                <a href="{{ url_for('quiz') }}" class="btn">Begin Quiz</a>
            </div>
        </div>
    </section>

    <section class="box" id="mockquiz">
        <h1>Mock Quizzes</h1>
        <div class="card-wrapper">
            <div class="card">
                <div class="card-background"></div>
                <img src="../static/resources/images/Student.svg" class="quiz-symbol">
                <h2>Elementary</h2>
                <a href="{{ url_for('quiz') }}" class="btn">Begin Quiz</a>
            </div>

            <div class="card">
                <div class="card-background"></div>
                <img src="../static/resources/images/Teacher.svg" class="quiz-symbol">
                <h2>Intermediate</h2>
                <a href="{{ url_for('quiz') }}" class="btn">Begin Quiz</a>
            </div>

            <div class="card">
                <div class="card-background"></div>
                <img src="../static/resources/images/Contact.svg" class="quiz-symbol">
                <h2>Advanced</h2>
                <a href="{{ url_for('quiz') }}" class="btn">Begin Quiz</a>
            </div>
        </div>
    </section>

    {% elif current_user.is_authenticated and current_user.urole == 'educator' %}
    <!-- SPLIT SCREEN -->
    <div class="split-container" id="login-page">
        <div class="split left">
            <h1>Create A New Class</h1>
            <a href="#" class="split-btn" id="std-login">Click Here</a>
        </div>

        <div class="split right">
            <h1>Create A New Question</h1>
            <a href="#" class="split-btn" id="tcr-login">Click Here</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}