{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='/content/dashboardstyle.css') }}">
<link href="{{ url_for('static', filename='/content/createstyle.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="container">
    <section class="box">
        <div class="avatar">
            <img src="{{ image_file }}" style="width: 200px; height: 200px" />
        </div>
        <div class="details">
            <h2>{{ current_user.firstName }} {{ current_user.lastName }}</h2>
            {% if current_user.urole == 'student' %}
            <p>Knewbie ID: {{ current_user.knewbie_id }} </p>
            <a href="{{ url_for('progressreport') }}" class="btn">Progress Report</a>
            {% endif %}
        </div>
    </section>

    <section class="box" id="viewclass">
        <h1>View Your Classes</h1>
        <div class="card-wrapper">
            {% for class in current_user.groups %}
            <div class="card">
                <div class="card-background"></div>
                <img src="{{ url_for('static', filename='resources/images/' + ('Student', 'Teacher', 'Contact') | random + '.svg') }} " class="quiz-symbol">
                <h2>Class {{ class.name }}</h2>
                <a href="{{ url_for('forum', groupID=class.id) }}" class="btn">View Class</a>
            </div>
            {% endfor %}
        </div>
    </section>

    {% if current_user.urole == 'student' %}
    <section class="box" id="joinclass">
        <div class="details">
            <h1>Join A Class</h1>
            <form action="{{ url_for('joinclass') }}" method="post">
                {{ joinForm.hidden_tag() }}
                {{ joinForm.title(size=32, class_="join", placeholder="Class Code") }}
                {{ joinForm.submit(class_="join-btn") }}
            </form>
        </div>
        <div class="details">
            
        </div>
    </section>

    <section class="box" id="topicalquiz">
        <h1>Topical Quizzes</h1>
        <div class="card-wrapper">
            {% for topic in topics %}
            <div class="card">
                <div class="card-background"></div>
                <img src="{{ url_for('static', filename='resources/images/' + ('Student', 'Teacher', 'Contact') | random + '.svg') }} " class="quiz-symbol">
                <h2>{{ topic.name }}</h2>
                {% if questions %}
                <a href="{{ url_for('result') }}" class="btn">View Result</a>
                {% else %}
                <a href="{{ url_for('quiz') }}" class="btn">Begin Quiz</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="box" id="mockquiz" style="margin-bottom: 5rem;">
        <h1>Mock Quizzes</h1>
        <div class="card-wrapper">
            <div class="card">
                <div class="card-background"></div>
                <img src="../static/resources/images/Student.svg" class="quiz-symbol">
                <h2>Elementary</h2>
                <a href="{{ url_for('quiz') }}" class="btn">Begin Quiz</a>
            </div>

            <div class="card">
                <div class="card-background"></div>
                <img src="../static/resources/images/Teacher.svg" class="quiz-symbol">
                <h2>Intermediate</h2>
                <a href="{{ url_for('quiz') }}" class="btn">Begin Quiz</a>
            </div>

            <div class="card">
                <div class="card-background"></div>
                <img src="../static/resources/images/Contact.svg" class="quiz-symbol">
                <h2>Advanced</h2>
                <a href="{{ url_for('quiz') }}" class="btn">Begin Quiz</a>
            </div>
        </div>
    </section>

    {% elif current_user.urole == 'educator' %}
    <section class="box" id="viewquizzes">
        <h1>Preview Your Quizzes</h1>
        <div class="card-wrapper">
            {% for quiz in current_user.quizzes %}
            <div class="card">
                <div class="card-background"></div>
                <img src="{{ url_for('static', filename='resources/images/' + ('Student', 'Teacher', 'Contact') | random + '.svg') }} " class="quiz-symbol">
                <h2>Quiz {{ quiz.name }}</h2>
                <a href="{{ url_for('preview_quiz', quizID=quiz.id) }}" class="btn">Preview Quiz</a>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- SPLIT SCREEN -->
    <div class="split-container" id="create">
        <div class="split left">
            <form action="{{ url_for('createclass') }}" method="post" class="create-form-1">
                {{ classForm.hidden_tag() }}
                <h1>Create A New Class</h1>
                {{ classForm.title(size=32, class_="input", placeholder="Class Name") }}
                {{ classForm.submit(class_="submit-btn") }}
            </form>
        </div>

        <div class="split right">
            <form action="{{ url_for('createquiz') }}" method="post" class="create-form">
                {{ quizForm.hidden_tag() }}
                <h1>Create A New Quiz</h1>
                {{ quizForm.title(size=32, class_="input", placeholder="Quiz Title") }}
                {{ quizForm.submit(class_="submit-btn") }}
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}