{% from "_formhelpers.html" import render_error %}
﻿{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='content/deactstyle.css') }}">
{% endblock %}
{% block content %}
<form class="deact-form" action="" method="post">
    {{ form.hidden_tag() }}
    <h1>Delete Class</h1>
    <div class="input-field">
        {{ form.code(size=32, placeholder="Class Code") }}
        {{ render_error(form.code) }}
    </div>
    <p>All information associated with the class will be deleted and the action is irrevocable.</p>
    <p>To confirm deletion, enter the class code.</p>
    {{ form.submit(class_="deact-btn") }}
</form>
{% endblock %}
