{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='content/faqstyle.css') }}">
{% endblock %}
{% block content %}
<!-- FAQ -->
<section>
    <div class="faq-container">
        <div class="accordion">
            <h1>FREQUENTLY ASKED QUESTIONS</h1>
            <div class="accordion-item" id="qn1">
                <a href="#qn1" class="accordion-link">
                    Lorem Ipsum?
                    <i class="fas fa-plus"></i>
                </a>
                <div class="faq-ans">
                    Lorem Ipsum ksadnksadksakjdds test answer.
                </div>
            </div>

            <div class="accordion-item" id="qn2">
                <a href="#qn2" class="accordion-link">
                    Lorem Ipsum?
                    <i class="fas fa-plus"></i>
                </a>
                <div class="faq-ans">
                    Lorem Ipsum ksadnksadksakjdds test answer.
                </div>
            </div>

            <div class="accordion-item" id="qn3">
                <a href="#qn3" class="accordion-link">
                    Lorem Ipsum?
                    <i class="fas fa-plus"></i>
                </a>
                <div class="faq-ans">
                    Lorem Ipsum ksadnksadksakjdds test answer. Lorem Ipsum.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was po
                </div>
            </div>

            <div class="accordion-item" id="qn4">
                <a href="#qn4" class="accordion-link">
                    Lorem Ipsum?
                    <i class="fas fa-plus"></i>
                </a>
                <div class="faq-ans">
                    Lorem Ipsum ksadnksadksakjdds test answer.
                </div>
            </div>

            <div class="accordion-item" id="qn5">
                <a href="#qn5" class="accordion-link">
                    Lorem Ipsum?
                    <i class="fas fa-plus"></i>
                </a>
                <div class="faq-ans">
                    Lorem Ipsum ksadnksadksakjdds test answer.
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}