{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='content/faqstyle.css') }}">
{% endblock %}
{% block content %}
<!-- FAQ -->
<section>
    <div class="faq-container">
        <div class="search-bar">
            <input type="text" name="search" value="" autocomplete="off" id="searchInput" onkeyup="searchFunction()" placeholder="Search">

        </div>
        <div class="accordion" id="accordion">
            <h1>FREQUENTLY ASKED QUESTIONS</h1>
            <div class="accordion-item" id="qn1">
                <a href="#qn1" class="accordion-link">
                    How is Knewbie Different from other virtual learning platforms?
                    <i class="fas fa-plus"></i>
                </a>
                <div class="faq-ans">
                    Firstly, it is important to note that Knewbie is meant to supplement educators in teaching and students in learning.
                    Our current goal is not to be a stand-alone platform. The main feature that differentiates Knewbie is the usage of Computerized Adaptive Testing that will display questions based on the individual's proficiency.
                    This means good students get easier questions and better students get tougher questions. As the student learns and grows, so will the overall difficulty of questions.
                    This is to encourage students to learn instead of memorizing answers. It can be tough for educators to cater to the needs and pace of every student and this will generally allow the good students to catch up to the better ones if they put in the effort.
                </div>
            </div>

            <div class="accordion-item" id="qn2">
                <a href="#qn2" class="accordion-link">
                    How do I interpret the graphs on my progress report?
                    <i class="fas fa-plus"></i>
                </a>
                <div class="faq-ans">
                    There are three graphs. The first is the overall progress of the student over a stipulated time.
                    The second is merely a percentage of questions the student get correct based on the difficulty of the questions.
                    The third graph is the individual's proficiency for the respective topics.
                </div>
            </div>

            <div class="accordion-item" id="qn3">
                <a href="#qn3" class="accordion-link">
                    Can I reattempt a question that I get wrong?
                    <i class="fas fa-plus"></i>
                </a>
                <div class="faq-ans">
                    Questions you get wrong will be more likely to pop up during some of your reattempts. Due to our large number of questions, it may be a while before the questions appear again.
                    However, do note that on the feedback that you will receive at the end of your attempts, you will be notified of the questions you get wrong, but not the correct answer.
                    This is to emphasize on learning rather than remembering the answers.
                </div>
            </div>

            <div class="accordion-item" id="qn4">
                <a href="#qn4" class="accordion-link">
                    Can I do workings for the questions?
                    <i class="fas fa-plus"></i>
                </a>
                <div class="faq-ans">
                    As of now, we only cater to MCQ questions, and we do not offer for students to do workings on site. If you would like this feature, please make a feature request.
                </div>
            </div>

            <div class="accordion-item" id="qn5">
                <a href="#qn5" class="accordion-link">
                    Lorem Ipsum?
                    <i class="fas fa-plus"></i>
                </a>
                <div class="faq-ans">
                    Lorem Ipsum ksadnksadksakjdds test answer.
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}