{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="../static/content/homepagestyle.css">
{% endblock %}
{% block content %}
<section class="gradient" id="home-page">
    <div class="gradient-clipped">
        <div class="gradient-textbox">
            <h1 class="text">Knewbie</h1>
            <h2 class="subtext">Knowledge is Power. Even if you are a Noobie.</h2>
            <a href="{{ url_for('login') }}" class="home-btn" id="login">SIGN IN!</a>
            <a href="#" class="home-btn" id="signupnow">REGISTER</a>
        </div>
    </div>
</section>
<!-- MODAL FORM -->
<div class="modal-container">
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="{{ url_for('regedu') }}" method="post">
                <div class="close1">+</div>
                <h1>Create An Educator Account</h1>
                <!--<input type="text" placeholder="First Name" />
                <input type="text" placeholder="Last Name" />
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <input type="password" placeholder="Confirm Password" />
                <p>By clicking on the sign up button, you agree to our <a href="#">Terms & Conditions</a></p>
                <button class="signup">SIGN UP</button>-->
                {{ eduForm.hidden_tag() }}
                <p>
                    {{ eduForm.username(placeholder="First Name", size=32) }}<br>
                    {% for error in eduForm.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ eduForm.email(placeholder="Email", size=64) }}<br>
                    {% for error in eduForm.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ eduForm.password(placeholder="Password", size=32) }}<br>
                    {% for error in eduForm.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ eduForm.password2(placeholder="Confirm Password", size=32) }}<br>
                    {% for error in eduForm.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>By clicking on the sign up button, you agree to our <a href="#">Terms & Conditions</a></p>
                <p>{{ eduForm.submit(class_="signup") }}</p>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="{{ url_for('regstu') }}" method="post">
                <h1>Create A Student Account</h1>
                <!--<input type="text" placeholder="First Name" />
                <input type="text" placeholder="Last Name" />
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <input type="password" placeholder="Confirm Password" />
                <p>By clicking on the sign up button, you agree to our <a href="#">Terms & Conditions</a></p>
                <button class="signup">SIGN UP</button>-->
                {{ stuForm.hidden_tag() }}
                <p>
                    {{ stuForm.username(placeholder="First Name", size=32) }}<br>
                    {% for error in stuForm.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ stuForm.email(placeholder="Email", size=64) }}<br>
                    {% for error in stuForm.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ stuForm.password(placeholder="Password", size=32) }}<br>
                    {% for error in stuForm.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ stuForm.password2(placeholder="Confirm Password", size=32) }}<br>
                    {% for error in stuForm.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>By clicking on the sign up button, you agree to our <a href="#">Terms & Conditions</a></p>
                <p>{{ stuForm.submit(class_="signup") }}</p>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Are You A Student?</h1>
                    <p>Click the button below to start your learning journey!</p>
                    <button class="ghost" id="Student">CLICK HERE!</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <div class="close">+</div>
                    <h1>Are You An Educator?</h1>
                    <p>Click the button below to create an educator's account</p>
                    <button class="ghost" id="Educator">CLICK HERE!</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DIVIDER ILLUSTRATION -->
<div class="background">
    <!-- <div class="teacher"></div> -->
    <div class="flat"></div>
    <!-- <div class="student"></div> -->
</div>

<!-- SPLIT SCREEN -->
<!-- <div class="split-container" id="login-page">
    <div class="split left">
        <h1>Students</h1>
        <a href="#" class="split-btn" id="std-login">Login</a>
    </div>

    <div class="split right">
        <h1>Educators</h1>
        <a href="#" class="split-btn" id="tcr-login">Login</a>
    </div>
</div> -->
<!-- UNIQUE ID PROGRESS QUERY -->
<div class="query">
    <h1>ENTER YOUR UNIQUE ID TO GET YOUR PROGRESS REPORT!</h1>
    <div class="query-form">
        <input type="text" name="unique-id" autocomplete="off" required />
        <label for="unique-id" class="label-unique-id">
            <span class="content-unique-id">Unique ID</span>
        </label>
    </div>
    <a href="#" class="submit-btn">SUBMIT</a>
</div>
{% endblock %}
