{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="../static/content/homepagestyle.css">
{% endblock %}
{% block content %}
<section class="gradient" id="home-page">
    <div class="gradient-clipped">
        <div class="gradient-textbox">
            <h1 class="text">Knewbie</h1>
            <h2 class="subtext">Knowledge is Power. Even if you are a Noobie.</h2>
            <a href="{{ url_for('login') }}" class="home-btn" id="login">LOGIN</a>
            <a href="{{ url_for('reg') }}" class="home-btn" id="signupnow">REGISTER NOW!</a>
        </div>
    </div>
</section>
<!-- MODAL FORM -->
<!--<div class="modal-container">-->
   
<!--</div>-->

<!-- DIVIDER ILLUSTRATION -->
<div class="background">
    <!-- <div class="teacher"></div> -->
    <div class="flat"></div>
    <!-- <div class="student"></div> -->
</div>

<!-- SPLIT SCREEN -->
<!-- <div class="split-container" id="login-page">
    <div class="split left">
        <h1>Students</h1>
        <a href="#" class="split-btn" id="std-login">Login</a>
    </div>

    <div class="split right">
        <h1>Educators</h1>
        <a href="#" class="split-btn" id="tcr-login">Login</a>
    </div>
</div> -->
<!-- UNIQUE ID PROGRESS QUERY -->
<div class="query">
    <h1>ENTER YOUR UNIQUE ID TO GET YOUR PROGRESS REPORT!</h1>
    <div class="query-form">
        <input type="text" name="unique-id" autocomplete="off" required />
        <label for="unique-id" class="label-unique-id">
            <span class="content-unique-id">Unique ID</span>
        </label>
    </div>
    <a href="#" class="submit-btn">SUBMIT</a>
</div>
{% endblock %}