{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='content/leaderboardstyle.css') }}">
{% endblock %}
{% block content %}
{% include "sidebar.html" %}
<div class="leaderboard">
    <header class="leaderboard-heading">
        <h1 class="leaderboard-title"><span>Class Leaderboard</span></h1>
    </header>
    
    <main class="leaderboard-table">
        {% for user in users %}
        <article class="leaderboard-row">
            <h1>{{loop.index}}.</h1>
            <img src="{{ url_for('static', filename='resources/images/profile_pics/' + user.image_file) }}" alt="{{ user.firstName }} {{ user.lastName }}" class="leaderboard-img">
            <span class="leaderboard-name">{{ user.firstName }} {{ user.lastName }}</span>
            <a href="{{ url_for('progressreport', knewbieID=user.knewbie_id) }}" class="btn">Progress Report</a>
        </article>
        {% endfor %}
    </main>
</div>
{% endblock %}