{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='content/leaderboardstyle.css') }}">
{% endblock %}
{% block content %}
{% include "sidebar.html" %}
<div class="leaderboard">
    <header class="leaderboard-heading">
        <h1 class="leaderboard-title"><span>Edit Participants</span></h1>
    </header>

    <div class="add-user">
        <form class="deact-form" action="{{ url_for('adduserclass', groupID=group.id) }}" method="post">
            {{ joinForm.hidden_tag() }}
            <a><i class="fas fa-user-plus"></i>Add User</a>
            <div class="input-field">
                {{ joinForm.title(size=32, class_="input", placeholder="Knewbie ID / Email") }}
            </div>
            {{ joinForm.submit(class_="edit-btn") }}
        </form>
    </div>

    <main class="edit-table">
        {% for user in users %}
        <article class="participant-row">
            <h1>{{loop.index}}.</h1>
            <img src="{{ user.image_file }}" alt="{{ user.firstName }} {{ user.lastName }}" class="leaderboard-img">
            <span class="leaderboard-name">{{ user.firstName }} {{ user.lastName }}</span>
            <form action="{{ url_for('delete_participant', groupID=group.id, userID=user.id) }}" method="post" class="create-form">
                {{ deleteForm.hidden_tag() }}
                {{ deleteForm.submit(class_="edit-btn") }}
            </form>
        </article>
        {% endfor %}
     </main>
</div>
{% endblock %}
