{% from "_formhelpers.html" import render_error %}
﻿{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='content/poststyle.css') }}">
{% endblock %}
{% block content %}
<div>
    {% if thread %}
    <div class="thread-title">
        <a class="thread-back" href="{{url_for('forum', groupID=thread.groupID)}}"><i class="far fa-arrow-alt-circle-left"></i>B a c k</a>
        <h1 class="thread-title-text"> {{ thread.title }} </h1>
        {% if current_user.urole == 'educator' %}
        <a class="thread-delete">
            <form action="{{ url_for('delete_thread', groupID=thread.groupID,threadID=thread.id) }}" method="post" class="create-form">
                {{ delThreadForm.hidden_tag() }}
                <i class="fas fa-trash-alt"></i>{{ delThreadForm.submit() }}
            </form>
        </a>
        {% endif %}
    </div>
    {% if not editpost %}

    {% for post in posts %}
    <div class="post-content">
        <h2 class="name">{{ users[post.userID] }}</h2>
        {% if current_user.id == post.userID or current_user.urole == 'educator' %}
        <a class="post-delete">
            <form action="{{ url_for('delete_post', groupID=thread.groupID,threadID=thread.id,postID=post.id) }}" method="post" class="create-form">
                {{ delPostForm.hidden_tag() }}
                <i class="fas fa-trash-alt"></i>{{ delPostForm.submit() }}
            </form>
        </a>
        <a class="post-edit" href="{{url_for('edit_post',groupID=thread.groupID,threadID=thread.id,postID=post.id)}}"><i class="far fa-edit"></i>Edit Post</a>
        {% endif %}

        <div class="content"> {{ post.content }} </div>
    </div>
    {% endfor %}

    {% endif %}
    {% endif %}

    

    <div class="form-container">
        <div class="post-form">
            <h1 class="form-heading">Post An Announcement/Question!</h1>
            <form action="" method="post">
                {{ postForm.hidden_tag() }}
                {% if postForm.title %}
                <div class="post-heading">
                    <h1>Create A New Post</h1>
                </div>

                <div class="input-container">
                    {{ postForm.title() }}
                    {{ postForm.title.label }}
                    <!--render_error(form.title)-->
                    <div class="underline"></div>
                </div>
                {% endif %}
                <div class="input-container">
                    {{ postForm.content(cols=37, rows=8, class_="textarea", placeholder="Enter your message!") }}
                    <!--render_error(form.content)-->
                </div>
                {{ postForm.submit(class_="post-btn") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
