{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='content/dashboardstyle.css') }}">
{% endblock %}
{% block content %}
<div>
    {% if thread %}
    <h1> {{ thread.title }} </h1>
    <a href="#">Delete Thread</a>
    {% for post in posts %}
    <div>
        <h2> {{ post.userID }} said:</h2>
        {% if current_user.id == post.userID or current_user.urole == 'educator' %}
        <a href="{{url_for('delete_post',groupID=thread.groupID,threadID=thread.id,postID=post.id)}}">Delete Post</a>
        <a href="#">Edit Post</a>
        {% endif %}
        <div> {{ post.content }} </div>
    </div> <br />
    {% endfor %}
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {% if form.title %}
            {{ form.title.label }}<br>
            {{ form.title() }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% endif %}

            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

</div>
{% endblock %}