{% from "_formhelpers.html" import render_error %}
﻿{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='content/poststyle.css') }}">
{% endblock %}
{% block content %}
<div>
    {% if thread %}
    <a href="{{url_for('forum', groupID=thread.groupID)}}">Back</a>

    <h1> {{ thread.title }} </h1>
    <a href="#">Delete Thread</a>
    {% if not editpost %}

    {% for post in posts %}
    <div>
        <h2> {{ users[post.userID] }} said:</h2>
        {% if current_user.id == post.userID or current_user.urole == 'educator' %}
        <a href="{{url_for('delete_post',groupID=thread.groupID,threadID=thread.id,postID=post.id)}}">Delete Post</a>
        <a href="{{url_for('edit_post',groupID=thread.groupID,threadID=thread.id,postID=post.id)}}">Edit Post</a>
        {% endif %}

        <div> {{ post.content }} </div>
    </div> <br />
    {% endfor %}

    {% endif %}
    {% endif %}
    <div class="post-heading">
        <h1>Create A New Post</h1>
    </div>

    <div class="form-container">
        <div class="post-form">
            <h1 class="form-heading">Post An Announcement/Question!</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="input-container">
                    {% if form.title %}
                    {{ form.title() }}
                    {{ form.title.label }}
                    {% render_error(form.title) %}
                    {% endif %}
                    <div class="underline"></div>
                </div>
                <div class="input-container">
                     {{ form.post(cols=37, rows=8, class_="textarea", placeholder="Enter your message!") }}
                     {% render_error(form.post) %}
                </div>
                {{ form.submit(class_="post-btn") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
