{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='content/quizstyle.css') }}">
{% endblock %}
{% block content %}
<div class="quiz-container">
    <div id="quiz" class="justify-center flex-column">
        <h1>{{ quiz.name }}</h1>

        {% for q in questions %}
        <h2 id="question">{{q}}</h2>
        <form action="{{ url_for('deleteqn', quizID=quiz.id, q.id) }}" method="post" class="create-form">
            {{ form.hidden_tag() }}
            {{ form.submit() }}
        </form>
        <ol>
            {% for optID, opt in questions[q]['options'].items() %}
            <li class="options-container" id="options-container">
                <p class="options-prefix">{{loop.index}}</p>
                <label>
                    <input type="radio" class="options" name="option" id="{{optID}}" value="{{optID}}">
                    {% if optID == questions[q]['answer'] %}
                    <span>Answer: {{opt}}</span>
                    {% else %}
                    <span>{{opt}}</span>
                    {% endif %}
                </label>
            </li>
            <br />

            {% endfor %}
        </ol>
        {% endfor %}
    </div>

</div>
{% endblock %}