{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='content/reportstyle.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
{% endblock %}

{% block content %}
<div class="chart-container" style="text-align: center;">
    <canvas id="myChart" style="margin: 0 auto; width: 100vw !important; height: 40vh !important;"></canvas>
</div>
<div class="chart-container" style="text-align: left; width: 50vw; float: left;">
    <canvas id="testChart" style="margin-top: 2rem; width: 100% !important; height: 47vh !important;"></canvas>
</div>
<div class="chart-container" style="text-align: right; width: 50vw; float: right;">
    <canvas id="topicChart" style="margin-top: 2rem; width: 100% !important; height: 47vh !important;"></canvas>
</div>
{% endblock %}

{% block script %}

<script type="text/javascript">
    var myChart = document.getElementById('myChart').getContext('2d');
    var testChart = document.getElementById('testChart').getContext('2d');
    var topicChart = document.getElementById('topicChart').getContext('2d');

    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#420341';

    var topical_prof = [10, 20, 30, 50, 60, 40];
    var difficulty_prof = {{ diff_prof | tojson }};
    var overall_prof = {{ overall_prof | tojson }};


    var lineChart = new Chart(myChart, {
        type: 'line',
        data: {
            labels: overall_prof[0],
            datasets: [{
                label: 'Proficiency',
                data: overall_prof[1],
                backgroundColor: [ //borderWidth, borderColor, hoverBorderWidth, hoverBorderColor
                    'rgba(170, 7, 107, 0.1)',
                    'rgba(170, 7, 107, 0.1)',
                    'rgba(170, 7, 107, 0.1)',
                    'rgba(170, 7, 107, 0.1)',
                    'rgba(170, 7, 107, 0.1)',
                    'rgba(170, 7, 107, 0.1)'
                ],
                borderColor: 'rgba(170, 7, 107, 0.3)',
                fill: false,
                pointHoverBackgroundColor: '#AA076B',
                pointHoverBorderColor: '#AA076B',
                pointHoverBorderWidth: '10px',

            }]
        },
        options: {
            title: {
                display: true,
                text: "{{ current_user.firstName }} {{ current_user.lastName }}'s Progress Report",
                fontSize: 25
            },
            legend: {
                position: 'right',
                labels: {
                    fontColor: '#420341'
                }
            },
            layout: {
                padding: {
                    left: 10,
                    right: 10,
                    bottom: 0,
                    top: 10
                },
                tooltips: {
                    enabled: true
                },
            }
        }
    });

    var testChart = new Chart(testChart, {
        type: 'polarArea',
        data: {
            datasets: [{
                data: difficulty_prof,
                backgroundColor: [
                    'rgba(170, 7, 107, 0.2)',
                    'rgba(170, 7, 107, 0.4)',
                    'rgba(170, 7, 107, 0.6)'
                ],
                borderWidth: 0,
                hoverBorderWidth: 5,
                hoverBordercolor: 'rgba(0, 0, 0, 0.1)',
                hoverBackgroundColor: 'rgba(170, 7, 107, 1)'
            }],
            labels: ['Easy',
                'Medium',
                'Hard',
            ]
        },
        options: {
            title: {
                display: true,
                text: "Proficiency by Difficulty",
                fontSize: 20
            }
        }
    });

    var topicChart = new Chart(topicChart, {
        type: 'radar',
        data: {
            datasets: [{
                label: 'Topical Proficiency',
                data: topical_prof,
                backgroundColor: 'rgba(170, 7, 107, 0.2)',
                borderColor: 'rgba(170, 7, 107, 0.6)',
                pointBackgroundColor: 'rgba(170, 7, 107, 0.6)',
                borderWidth: 0,
                hoverBorderWidth: 5,
                hoverBordercolor: 'rgba(0, 0, 0, 0.1)',
                hoverBackgroundColor: 'rgba(170, 7, 107, 1)'
            }],
            labels: ['Model',
                'Estimation',
                'Geometry',
                'Topic 2',
                'Topic 1',
                'Topic 3'
            ]
        },
        options: {}
    });
</script>
{% endblock %}