{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="../static/content/settingstyle.css">
{% endblock %}

{% block message %}
{% endblock %}

{% block content %}
<div id="settings" ontouchstart="true">
    <input checked="checked" class="settings-nav" name="settings-nav" type="radio" />
    <span class="settings-nav">Profile</span>
    <input class="settings-nav" name="settings-nav" type="radio" />
    <span class="settings-nav">Account</span>
    <input class="settings-nav" name="settings-nav" type="radio" />
    <span class="settings-nav">Privacy</span>
    <input class="settings-nav" name="settings-nav" type="radio" />
    <span class="settings-nav">Advanced</span>
    <main class="content">
        <section id="profile">
            <h1 style="text-align: center; padding-top: 5rem;">Update Details</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <ul>
                    <li class="large padding avatar">
                        <img src="{{ image_file }}" />
                        <div>
                            <fieldset class="settings-button center">
                                <div class="image-btn" style="margin-bottom: 1rem;">
                                    {{ form.image(class_="create-btn") }}
                                </div>
                                {% if current_user.urole == 'student' %}
                                <div>
                                    <a href="{{ url_for('main.settings_knewbie_id') }}" class="home-btn">Request A New Knewbie ID</a>
                                </div>
                                {% endif %}
                            </fieldset>
                        </div>
                    </li>

                    <li>
                        <fieldset class="settings-input">
                            <div>
                                {{ form.firstName }}
                                <label>First Name</label>
                                <hr />
                            </div>
                        </fieldset>
                    </li>

                    <li>
                        <fieldset class="settings-input">
                            <div>
                                {{ form.lastName }}
                                <label>Last Name</label>
                                <hr />
                            </div>
                        </fieldset>
                    </li>
                    <li>

                    <li class="large padding">
                        <fieldset class="settings-button center">
                            <div>
                                {{ form.submit(class_="save") }}
                            </div>
                        </fieldset>
                    </li>

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class="flashes" style="margin: 0 auto;">
                        {% for message in messages %}
                        <li style="color: red; font-size: 25px; width: 100%;">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                </ul>
            </form>
        </section>

        <section id="account">
            <h1 style="text-align: center; padding-top: 3rem;">Change Password</h1>
            <form>
                <ul>
                    <li>
                        <fieldset class="settings-input">
                            <div>
                                <input required type="email" value="{{ current_user.email }}" />
                                <label>Email</label>
                                <hr />
                            </div>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset class="settings-input">
                            <div>
                                <input required type="password" />
                                <label>Current Password</label>
                                <hr />
                            </div>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset class="settings-input">
                            <div>
                                <input required type="password" />
                                <label>New Password</label>
                                <hr />
                            </div>
                        </fieldset>
                    </li>

                    <li>
                        <fieldset class="settings-input">
                            <div>
                                <input required type="password" />
                                <label>Confirm Password</label>
                                <hr />
                            </div>
                        </fieldset>
                    </li>

                    <h1 style="text-align: center; padding-top: 3rem; width: 100vw; position: relative; margin: 0 auto;">Change Email Address</h1>

                    <li>
                        <fieldset class="settings-input">
                            <div>
                                <input required type="email" />
                                <label>New Email</label>
                                <hr />
                            </div>
                        </fieldset>
                    </li>

                    <li>
                        <fieldset class="settings-input">
                            <div>
                                <input required type="email" />
                                <label>Confirm Email</label>
                                <hr />
                            </div>
                        </fieldset>
                    </li>

                    <li class="large padding">
                        <fieldset class="settings-button center">
                            <div>
                                <input class="save" type="submit" value="Save" />
                            </div>
                        </fieldset>
                        <div class="zone">
                            <p> Danger Zone <p />
                            <hr />
                            <a href="{{ url_for('auth.request_deactivate') }}" class="deact-btn">Deactivate Account</a>
                        </div>
                    </li>
                </ul>
            </form>
        </section>

        <section class="upcoming" id="privacy">
            <h1>Coming soon!</h1>
        </section>
        <section class="upcoming" id="advanced">
            <h1>Coming soon!</h1>
        </section>
    </main>
</div>
{% endblock %}